{{ $board := .Board }}
{{ $len := len .Posts }}
{{ $page := . }}
{{ range .Posts }}
{{ $thread := . }}
{{ $opId := .Id }}
{{ if eq $board.InReplyTo "" }}
<hr>
{{ end }}
<div style="overflow: auto;">
  <div id="{{ shortURL $board.Actor.Outbox .Id }}" style="overflow: visible; margin-bottom: 12px;">
    <div id="{{.Id}}-info">
    <span class="postchk"><input type="checkbox" name="{{ .Id }}" value="delete"></span>
    <span class="subject"><b>{{ .Name }}</b></span>
    {{ .Alias | parseEmail }}<span class="name{{if eq .TripCode "#Admin"}} capcodeAdmin{{end}}{{if eq .TripCode "#Mod"}} capcodeMod{{end}}{{if eq .TripCode "#Janitor"}} capcodeJanitor{{end}}"><b>{{ if .AttributedTo }}{{.AttributedTo }}{{ else }}Anonymous{{ end }}</b></span>{{ if .Alias }}</a>{{ end }}
    <span class="tripcode{{if eq .TripCode "#Admin"}} capcodeAdmin{{end}}{{if eq .TripCode "#Mod"}} capcodeMod{{end}}{{if eq .TripCode "#Janitor"}} capcodeJanitor{{end}}"> {{ .TripCode }} </span>
    {{ .Alias | parseIDandFlag }}
		<span class="timestamp" data-utc="{{.Published | timeToUnix}}">{{ .Published | timeToReadableLong }}</span> <a class="postid" id="{{ .Id }}-anchor" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}#{{ shortURL $board.Actor.Outbox .Id }}">No.</a> <a class="postid" id="{{ .Id }}-link" title="{{ .Id }}"   {{ if eq .Locked false }} {{ if eq .Type "Note" }} onclick="quote('{{ $board.Actor.Id }}', '{{ $opId }}', '{{ .Id }}');return false" href="{{ .Id }}" {{ end }} {{ end }}>{{ shortURL $board.Actor.Outbox .Id }}</a> <span class="status">{{ if .Sticky }}<span class="sticky"><img src="/static/pin.png"></span>{{ end }} {{ if .Locked }} <span class="lock"><img src="/static/locked.png"></span>{{ end }}</span>{{ if ne .Type "Tombstone" }}{{ if not $board.InReplyTo }}&nbsp;<span>[<a href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}">Reply</a>]</span>{{end}}<div class="postMenu">
      <input title="Post menu" type="checkbox">
      <div class="postMenu-text">▶</div>
      <div class="postMenu-container">
          {{ if eq $board.ModCred $board.Domain $board.Actor.Id }}
          <a href="/sticky?id={{ .Id }}&board={{ $board.Actor.Name }}" onclick="return confirm('{{ if .Sticky }}Unsticky Thread?');">Unsticky{{else}}Sticky Thread?');">Sticky{{end}}</a>
          <a href="/lock?id={{ .Id }}&board={{ $board.Actor.Name }}" onclick="return confirm('{{ if .Locked }}Unlock Thread?');">Unlock{{else}}Lock Thread?');">Lock{{end}}</a>
          <a href="/delete?id={{ .Id }}&board={{ $board.Actor.Name }}" onclick="return confirm('Delete Post?');">Delete Post</a>
          <a href="/ban?actor={{ $board.Actor.Id }}&post={{ .Id }}">Ban IP</a>
          {{ end }}
          <a href="/make-report?actor={{ $board.Actor.Id }}&post={{ .Id }}">Report post</a>
          <a id="hidebtn-{{ .Id }}" href="javascript:void(0);" onclick="hide(this)">Hide post <noscript>(JS)</noscript></a>
          </div>
      </div>
  {{ end }}
    </div>
    <blockquote id="{{ .Id }}-content" class="comment" style="white-space: pre-wrap; margin: 10px 30px 10px 30px;">{{ parseContent $board.Actor $opId .Content $thread .Id $page.PostType }}</blockquote>
    {{ if .Replies }} 
    {{ $replies := .Replies }}
    {{ if gt $replies.TotalItems 5 }}
    {{ if gt $len 1 }}
    <span class="summary">{{ $replies.TotalItems }} replies{{ if gt $replies.TotalImgs 0}} and {{ $replies.TotalImgs }} images{{ end }}, Click <a id="view" post="{{.Id}}" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox .Id }}">here</a> to view all.</span>
    <br>
    <br>
    {{ end }}
    {{ end }}
    {{ range $replies.OrderedItems }}
    {{ if .Content }}
    <div id="{{ shortURL $board.Actor.Outbox .Id }}">
      <div style="overflow: auto;">
        <div style="float: left; margin-right: 5px;">&gt;&gt;</div>
        <div class="post" style="overflow: auto; padding: 5px; margin-bottom: 2px; display: inline-block;max-width: 90%;">
          <div id="{{.Id}}-info">
          <span class="postchk"><input type="checkbox" name="{{ .Id }}" value="delete"></span>
          <span class="subject"><b>{{.Name}}</b></span>
          {{ .Alias | parseEmail }}<span class="name{{if eq .TripCode "#Admin"}} capcodeAdmin{{end}}{{if eq .TripCode "#Mod"}} capcodeMod{{end}}{{if eq .TripCode "#Janitor"}} capcodeJanitor{{end}}"><b>{{ if .AttributedTo }}{{.AttributedTo }}{{ else }}Anonymous{{ end }}</b></span>{{ if .Alias }}</a>{{ end }}
          <span class="tripcode{{if eq .TripCode "#Admin"}} capcodeAdmin{{end}}{{if eq .TripCode "#Mod"}} capcodeMod{{end}}{{if eq .TripCode "#Janitor"}} capcodeJanitor{{end}}"> {{ .TripCode }} </span>
          {{ .Alias | parseIDandFlag }}
					<span class="timestamp" data-utc="{{ .Published | timeToUnix }}">{{ .Published | timeToReadableLong }}</span> <a class="postid" id="{{ .Id }}-anchor" href="/{{ $board.Name }}/{{ shortURL $board.Actor.Outbox $opId }}#{{ shortURL $board.Actor.Outbox .Id }}">No. </a><a class="postid" id="{{ .Id }}-link" title="{{ .Id }}" {{ if eq $thread.Locked false }} {{ if eq .Type "Note" }} onclick="quote('{{ $board.Actor.Id }}', '{{ $opId }}', '{{ .Id }}');return false" href="{{ .Id }}" {{ end }} {{ end }}>{{ shortURL $board.Actor.Outbox .Id }}</a> {{ if ne .Type "Tombstone" }}<div class="postMenu">
            <input title="Post menu" type="checkbox">
            <div class="postMenu-text">▶</div>
            <div class="postMenu-container">
                {{ if eq $board.ModCred $board.Domain $board.Actor.Id }}
                <a href="/delete?id={{ .Id }}&board={{ $board.Actor.Name }}" onclick="return confirm('Delete Post?');">Delete Post</a>
                <a href="/ban?actor={{ $board.Actor.Id }}&post={{ .Id }}">Ban IP</a>
                {{ end }}
                <a href="/make-report?actor={{ $board.Actor.Id }}&post={{ .Id }}">Report post</a>
                <a id="hidebtn-{{ .Id }}" href="javascript:void(0);" onclick="hide(this)">Hide post <noscript>(JS)</noscript></a>
            </div>
        </div>{{ end }}
          {{ $parentId := .Id }}
          {{ if .Replies.OrderedItems }}
          {{ range .Replies.OrderedItems }}
          <span id="{{$parentId}}-replyto-{{.Id}}">{{ parseReplyLink $board.Actor.Id $opId .Id .Content }}</span>
          {{ end }}
          {{ end }}
        </div>
          <blockquote id="{{ .Id }}-content" class="comment" style="white-space: pre-wrap; margin: 10px 30px 10px 30px;">{{ parseContent $board.Actor $opId .Content $thread .Id $page.PostType }}</blockquote>
      </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}