<div style="max-width: 800px; margin: 0 auto;">
  <h1 style="text-align: center;">Ban post</h1>
  <p style="text-align: center;">No. <a href="{{ .page.Board.InReplyTo }}" onclick="window.open('{{ .page.Board.InReplyTo }}','','popup');return false">{{ shortURL .page.Board.Actor.Outbox .page.Board.InReplyTo }}</a></p>
</div>

<div style="width: 420px; margin: 0 auto; margin-top:75px;">
  <a href="{{ .page.Referer }}" onclick="history.back()">[Back]</a>
  <div id="report-box">
    <br>
    <form id="report-post" action="/ban" method="post">
      <label for="comment">Reason:</label><br>
      <textarea id="report-comment" name="comment" rows="12" cols="54" style="width: 396px;" maxlength="512" oninput="sessionStorage.setItem('element-report-comment', document.getElementById('report-comment').value)"></textarea>
      <br>
      <label style="float:left;" for="banmedia">Ban media?</label>
      <input id="banmedia" name="banmedia" type="checkbox" style="float:left;">
      <br><br>
      <div>
        <label for="expires">Length:</label>
        <select id="expires" name="expires">
          <option value="1day" selected>1 day</option>
          <option value="3days">3 days</option>
          <option value="1week">1 week</option>
          <option value="2weeks">2 weeks</option>
          <option value="1month">1 month</option>
          <option value="permanent">Permanent</option>
          <option style="display: none" value="custom">Custom</option>
        </select>
      </div>
      <div id="custom-date-div" style="display:none;">
        <label for="custom-date-input">Custom date:</label>
        <input type="datetime-local" id="custom-date-input">
      </div>
      <script>
        var customOption = document.querySelector('#expires option[value="custom"]');
        var customDate = document.getElementById('custom-date');
        var customDateDiv = document.getElementById('custom-date-div');
        var customDateInput = document.getElementById("custom-date-input");

        // I can't come up with a way to convert datetime-local to UTC without javascript
        // So the custom date option is hidden by default and only shown if javascript is enabled
        customOption.style.display = '';
        var select = document.getElementById("expires");
        select.addEventListener("change", function() {
          // Show date input if custom is selected
          if (select.value == "custom") {
            customDateDiv.style.display = '';
            // Set date and time to now
            var now = new Date();
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
            customDateInput.value = now.toISOString().slice(0, 16);
          } else {
            // Hide date input if custom is not selected and clear value
            customDateDiv.style.display = 'none';
            customDate.value = '';
          }

        });
        customDateInput.addEventListener("change", function() {
          // Convert datetime-local to UTC
          var customDate = document.getElementById('custom-date');
          customDate.value = new Date(customDateInput.value).toISOString();
        });
      </script>
      <input id="report-submit" type="submit" value="Ban" style="float: right;">
      <br>
      <input type="hidden" id="report-inReplyTo-box" name="id" value="{{ .page.Board.InReplyTo }}">
      <input type="hidden" id="sendTo" name="sendTo" value="{{ .page.Board.To }}">
      <input type="hidden" id="boardName" name="board" value="{{ .page.Board.Name }}">
      <input type="hidden" name="close" value="0">
      <input type="hidden" id="referer" name="referer" value="{{ .page.Referer }}">
      <input type="hidden" id="custom-date" name="custom-date" value="">
  </div>
  
</div>
<br>
{{ if .baninfo.Bans }}
<style type="text/css">
  td {
    padding: 0 15px;
    max-width: 420px;
  }
</style>
<table align="center">
  <h2 style="text-align: center;">Previous bans ({{ len .baninfo.Bans }})</h2>
  <tr>
    <th>Date</th>
    <th>Reason</th>
    <th>Expires</th>
    <th>Length</th>
    <th>Remaining</th>
  </tr>
  {{ range $i, $e := .baninfo.Bans }}
  {{ if mod $i 2 }}
  <tr class="box-alt">
    <td data-utc="{{ timeToUnix $e.Date }}">{{ timeToDateTimeLong $e.Date }}</td>
    <td>{{ $e.Reason }}</td>
    <td {{ if (eq $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}>Permanent{{ else }} data-utc="{{ timeToUnix $e.Expires }}">{{ timeToDateTimeLong $e.Expires }}{{ end }}</td>
    <td>{{ if ( ne $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}{{ timeUntil $e.Expires $e.Date }}{{ end }}</td>
    <td>{{ if ( ne $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}{{ timeUntil $e.Expires }}{{ end }}</td>
  </tr>
  {{ else }}
  <tr class="box">
      <td data-utc="{{ timeToUnix $e.Date }}">{{ timeToDateTimeLong $e.Date }}</td>
      <td>{{ $e.Reason }}</td>
      <td {{ if (eq $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}>Permanent{{ else }} data-utc="{{ timeToUnix $e.Expires }}">{{ timeToDateTimeLong $e.Expires }}{{ end }}</td>
      <td>{{ if ( ne $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}{{ timeUntil $e.Expires $e.Date }}{{ end }}</td>
      <td>{{ if ( ne $e.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}{{ timeUntil $e.Expires }}{{ end }}</td>
    </tr>
  {{ end }}
  {{ end }}
</table>
<script>
const elementsWithUtc = document.querySelectorAll('[data-utc]');

elementsWithUtc.forEach(element => {
  const utc = element.getAttribute('data-utc');
  const local = formatDate(parseInt(utc) * 1000);
  element.textContent = local;
});

function formatDate(timestamp) {
  const date = new Date(timestamp);
  const day = date.getDate();
  const suffix = getDaySuffix(day);
  return date.toLocaleString('default', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short' }).replace(day, day + suffix);
}

function getDaySuffix(day) {
  if (day >= 11 && day <= 13) {
    return 'th';
  }
  switch (day % 10) {
    case 1: return 'st';
    case 2: return 'nd';
    case 3: return 'rd';
    default: return 'th';
  }
}
</script>
{{ end }}
<div>
{{ template "partials/footer" .page }}
{{ template "partials/general_scripts" .page }}
</div>