<div class="newsbox" style="text-align: left; max-width: 800px; margin: 0 auto;margin-top: 50px;padding-top:0;">
  {{ if .banned.IP }}
  <div class="newsbox-news">
    <h1 style="text-align: center;">You are banned!</h1><br>
    <p>You have been banned from posting on {{ .page.PreferredUsername }} for the following reason:</p>
    <br>
    <p><b>{{ .banned.Reason }}</p></b>
    <br>
    <p>Your ban was filed on <b id='bandate' data-utc="{{ timeToUnix .banned.Date }}">{{ timeToDateLong .banned.Date }}</b>
    {{ if (eq .banned.Expires.String "9999-12-31 00:00:00 +0000 UTC") }}. This ban will not expire.
    {{ else }} and expires on <b id='banexpires' data-utc="{{ timeToUnix .banned.Expires }}">{{ timeToDateTimeLong .banned.Expires }}</b>, which is {{ timeUntil .banned.Expires }} from now.
    {{ end }}
    </p>
    <br>
    <p> According to our server, your IP is: <b>{{ .banned.IP }}</b>.</p>
  </div>
  {{else}}
  <div class="newsbox-news">
    <p>
    <h1>You not banned</h1><br>You are not currently banned.</p>
  </div>
  {{ end }}
</div>
<script>
    function getDaySuffix(day) {
    if (day >= 11 && day <= 13) {
      return 'th';
    }
    switch (day % 10) {
      case 1: return 'st';
      case 2: return 'nd';
      case 3: return 'rd';
      default: return 'th';
    }
  }
  
  const bandate = document.getElementById('bandate');
  const banexpires = document.getElementById('banexpires');

    utc = parseInt(banexpires.getAttribute('data-utc')) * 1000;
    date = new Date(utc);
    day = date.getDate();
    suffix = getDaySuffix(day);
    banexpires.textContent = date.toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short' }).replace(day, day + suffix);

    utc = parseInt(bandate.getAttribute('data-utc')) * 1000;
    date = new Date(utc);
    day = date.getDate();
    suffix = getDaySuffix(day);
    bandate.textContent = date.toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }).replace(day, day + suffix);
</script>