{{ template "partials/top" .page }}

{{ $board := .page.Board }}
<hr>
<h2 style="text-align: center;margin-top: 0.2em;margin-bottom: 0.2em;">Text mode</h2>
<hr>

<ul id="navlinks">
  {{ template "partials/post_nav" .page }}
  <li>[<a href="#bottom" id="top">Bottom</a>]</li>
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.json?limit=100">JSON</a>]</li> 
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.atom?limit=100">Atom</a>]&nbsp;</li> 
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.rss?limit=100">RSS</a>]&nbsp;</li>
</ul>

<form name="delform" id="delform" action="/multidelete" method="post">
  <div id="index">
    {{ template "partials/posts-text" .page }}
  </div>
</form>

<hr>


<ul id="navlinks">
  {{ template "partials/post_nav" .page }}
  <li>[<a href="#top" id="bottom">Top</a>]</li>
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.json?limit=100">JSON</a>]&nbsp;</li> 
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.atom?limit=100">Atom</a>]&nbsp;</li> 
  <li style="float: right;">[<a href="{{ $board.Name }}/feed.rss?limit=100">RSS</a>]</li>
</ul>

<hr>
{{ if gt .page.TotalPage 0 }}
{{ $totalPage := .page.TotalPage }}
<div class="pagelist">
  {{ $page := .page.CurrentPage }}
  {{ if gt $page 0 }}
	<div class="pages prev">[<a href="/{{ $board.Name }}?page={{ sub $page 1 }}" title="Previous">&lt;</a>]</div>
  {{ end }}
  {{ range $i, $e := .page.Pages }}
	<div class="pages">
    {{ if eq $i $page}}
    [<strong><a href="/{{ $board.Name }}?page={{ $i }}">{{ $i }}</a></strong>]
    {{ else }}
    [<a href="/{{ $board.Name }}?page={{ $i }}">{{ $i }}</a>]
    {{ end }}
	</div>
  {{ end }}
  {{ if lt .page.CurrentPage .page.TotalPage }}
	<div class="pages next">[<a href="/{{ $board.Name }}?page={{ add $page 1 }}" title="Next">&gt;</a>]</div>
  {{ end }}
	<div class="pages cataloglink"><a href="/{{ $board.Name }}/catalog">Catalog</a></div>
	{{ if (showArchive $board.Actor) }}<div class="pages cataloglink"><a href="/{{ $board.Name }}/archive">Archive</a></div>{{ end }}
</div>
{{ end }}

{{ template "partials/bottom" .page }}
{{ template "partials/footer" .page }}
{{ template "partials/general_scripts" .page }}
{{ template "partials/post_scripts" .page }}