{{ template "partials/top" .page }}

<hr>
{{ if eq .page.Board.BoardType "text" }}
<h2 style="text-align: center;margin-top: 0.2em;margin-bottom: 0.2em;">Text mode</h2>
<hr>
{{ end }}

<ul id="navlinks">
  <li>[<a href="/{{ .page.Board.Name }}">Return</a>]</li>
  {{ template "partials/post_nav" .page }}
  <li>[<a href="#bottom" id="top">Bottom</a>]</li>
  {{ if gt (len .page.Posts) 0 }}
  {{ if eq (index .page.Posts 0).Type "Note" }}
  <li style="float: right;">[<a href="{{ (index .page.Posts 0).Id }}/feed.json?limit=100">JSON</a>]</li> 
  <li style="float: right;">[<a href="{{ (index .page.Posts 0).Id }}/feed.atom?limit=100">Atom</a>]&nbsp;</li> 
  <li style="float: right;">[<a href="{{ (index .page.Posts 0).Id }}/feed.rss?limit=100">RSS</a>]&nbsp;</li>
  {{ end }}
  {{ end }}
</ul>

<hr>
<form name="delform" id="delform" action="/multidelete" method="post">
  {{ if eq .page.Board.BoardType "text" }}
    {{ template "partials/posts-text" .page }}
  {{ else }}
    {{ template "partials/posts" .page }}
  {{ end }}
</form>

<hr>

<table id="threadfooter">
  <tr>
  <tr>
    <td>
      <ul id="navlinks">
        <li>[<a href="/{{ .page.Board.Name }}">Return</a>]</li>
        {{ template "partials/post_nav" .page }}
        <li>[<a href="#top" id="bottom">Top</a>]</li>
        <li><input id="autoreload-checkbox" type="checkbox" onclick="autoTimer()"> Auto refresh <span
            id="autoreload-countdown" style="visibility: hidden;">0</span></li>
        {{ if gt (len .page.Posts) 0 }}
        {{ if eq (index .page.Posts 0).Type "Note" }}
        {{ end }}
        {{ end }}
      </ul>
    </td>

    {{ if gt (len .page.Posts) 0 }}
    {{ if eq (index .page.Posts 0).Type "Note" }}
    <td style="text-align: center;">
      <span>[<a id="reply-content"
          href="javascript:quote('{{ .page.Board.Actor.Id }}', '{{ (index .page.Posts 0).Id }}', 'reply')">Post a
          Reply</a>]</span>
    </td>
    {{ end }}

    <td>
      {{ $replies := (index .page.Posts 0).Replies}}
      <span id="threadStats" data-total="{{if $replies}}{{$replies.TotalItems}}{{else}}0{{end}}" data-imgs="{{if $replies}}{{$replies.TotalImgs}}{{else}}0{{end}}">{{if $replies}}{{$replies.TotalItems}}{{else}}0{{end}} / {{if $replies}}{{$replies.TotalImgs}}{{else}}0{{end}}</span>
    </td>
    {{ end }}
  </tr>
</table>

<hr>

{{ template "partials/bottom" .page }}
{{ template "partials/footer" .page }}
{{ template "partials/general_scripts" .page }}
{{ template "partials/post_scripts" .page }}

<script src="/static/js/timer.js"></script>