<head>
    <script>
        var defWidth;
        var defHeight;
        var player;
				var fitScreen = true;
        window.RufflePlayer = window.RufflePlayer || {};
        window.addEventListener("load", (event) => {
            const ruffle = window.RufflePlayer.newest();
            player = ruffle.createPlayer();
            player.config = {
			      autoplay: "on",
						allowScriptAccess: false,
			      warnOnUnsupportedContent: false,
			      letterbox: 'on',
            splashScreen: false
            };
            const container = document.getElementById("container");
            container.appendChild(player);
						let url = location.hash.replace('#', '');
            document.title = "Ruffle - " + url;
            player.load(url);
						player.style.maxWidth = "100vw";
						player.style.maxHeight = "100vh";
						player.style.width = "100vw";
						player.style.height = "100vh";

						player.addEventListener('loadedmetadata', () => {
										defHeight = player.metadata.height + "px";
										defWidth = player.metadata.width + "px";
//										player.style.height = defHeight;
//										player.style.width = defWidth;
//										player.setAttribute('width', defWidth);
//										player.setAttribute('height', defHeight);
									})

        });
        function toggleSize() {
            button = document.querySelector("#sizetoggle");
            if (fitScreen === false) {
                button.innerText = "Original size";
								player.style.width = "100vw";
								player.style.height = "100vh";
								fitScreen = true;

            } else {
                button.innerText = "Fit to screen";
                player.style.height = defHeight;
                player.style.width = defWidth;
								fitScreen = false;
            }
        }
    </script>
    <script src="/static/ruffle/ruffle.js"></script>
</head>
<body id="body" style="background-color: black; margin: 0;"></body>
<div id="container"></div>
<button id="sizetoggle" onclick="toggleSize()">Original size</button>
<button onclick="player.enterFullscreen()">Fullscreen</button>
<button onclick="location.reload()">Reload</button>
