.bottomCtrl {
    float: right;
    margin-top: 2px;
}

.postHidden {
    opacity: 0.5;
}

.postMenu {
    /*position: absolute;*/
    display: -webkit-inline-box;
    height:0;
    opacity: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.postMenu > input[type=checkbox]:checked + .postMenu-text {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.postMenu > input {
    top: 0;
    opacity: 0;
    margin: 0;
    position: inherit;
    height: 14px;
    width: 1.2em;
    cursor: pointer;
    margin-top: -2px;
}

.postMenu > .postMenu-text {
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    transition: transform 0.1s;
    width: 1em;
    height: 1em;
    text-align: center;
    outline: none;
    opacity: 0.8;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1em;
    pointer-events: none;
    margin-left: -16px;
}

.postMenu > input:checked ~ .postMenu-container {
    transform: scaleY(1);
}
.postMenu > .postMenu-container {
    transform: scaleY(0);
    font-size: 12px;
    line-height: 1.3em;
    position: absolute;
    margin-top:13px;
    z-index: 2;
}

.postMenu > .postMenu-container > a {
    display: block;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-width: 2px;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    padding: 2px 4px;
    vertical-align: middle;
}

@supports selector(:has(*)) {
    .postMenu-search {
        opacity: 0;
        display: block;
        left: 100%;
    }
    .postMenu > .postMenu-container > .postMenu-smenu:hover~.postMenu-search,
    .postMenu-search:hover, .postMenu > .postMenu-container > .postMenu-search:hover~.postMenu-search,
    .postMenu-search:has(~ .postMenu-search:hover) {
        opacity: 100%;
    }
}

.summary {
    font-style: italic;
    margin-top: 10px;
}

div.pagelist {
    font-size:13px!important;
    margin:0;
    padding:3px 7px;
    float:left;
    border:none;
    list-style:none;
    overflow:hidden;
  }
  div.pagelist>div {
    float:left;
  }
  div.pagelist>div span {
    padding:4px;
    display:inline-block
  }
  div.pagelist div.pages {
    padding:4px;
  }
  div.pagelist div.pages a {
    text-decoration:none!important
  }

  div.pagelist div.cataloglink {
    padding-left:12px;
    margin-left:7px
  }

.nsfw a.deadlink, a.deadlink {
	text-decoration: line-through;
	pointer-events: none;
}

.statusbox {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 0;
  text-align: center;
}

.button {
  cursor: pointer;
}